* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #242424;
  color: white;
}

.navbar .logo {
  font-size: 1.5rem;
  font-weight: 600;
}

.nav-links {
  list-style-type: none;
  display: flex;
}

.nav-links li {
  margin-left: 2rem;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: 400;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #ff9900;
}

.search-box input {
  padding: 0.5rem;
  border: none;
  border-radius: 25px;
  outline: none;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
  transition: all 0.3s ease;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    right: 0;
    top: 60px;
    height: 100vh;
    width: 100%;
    background-color: #242424;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
  }

  .nav-links.open {
    display: flex;
  }

  .nav-links li {
    margin: 20px 0;
  }

  .search-box input {
    width: 150px;
  }

  .hamburger {
    display: flex;
  }
}

/* Movie Grid */

.carousel {
  position: relative;
  width: 100vw; /* Full screen width */
  height: 100vh; /* Full screen height */
  overflow: hidden;
}

.movie-grid {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  gap: 20px;
  padding: 2rem;
  animation: slide-left 30s linear infinite;
}

.movie-card {
  background-color: white;
  width: 200px;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movie-card:hover {
  transform: scale(1.5);
  
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.movie-card img {
  width: 100%;
  height: 85%;
}

.movie-card h3 {
  text-align: center;
  padding: 0.5rem;
}

@keyframes slide-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Optional image size for consistent card display */
img {
  height: 100px;
  width: 100px;
}

/* Pricing Section */
.pricing-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100vh;
  padding: 2rem;
}
.pricing-table {
  display: flex;
  gap: 20px;
}

.pricing-card {
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}

.pricing-card h2 {
  color: #333;
  margin-bottom: 10px;
}

.pricing-card p {
  color: #777;
  font-size: 14px;
  margin-bottom: 20px;
}

.pricing-card .price {
  font-size: 30px;
  font-weight: bold;
  color: #3f51b5;
  margin-bottom: 20px;
}

.pricing-card ul {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}

.pricing-card ul li {
  color: #555;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
}

.pricing-card ul li::before {
  content: "\2713"; /* Checkmark character */
  color: #3f51b5;
  margin-right: 10px;
}

.pricing-card button {
  background-color: #3f51b5;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pricing-card button:hover {
  background-color: #303f9f;
}

.pricing-card.most-popular {
  transform: translateY(-20px);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.pricing-card.most-popular .price {
  color: #2196f3;
}

.pricing-card.most-popular ul li::before {
  color: #2196f3;
}

.pricing-card.most-popular button {
  background-color: #2196f3;
}

.pricing-card.most-popular button:hover {
  background-color: #1976d2;
}

.pricing-card .most-popular-badge {
  background-color: #2196f3;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  margin-top: -20px;
  display: inline-block;
}
/* AboutUS */
.hero {
  text-align: center;
  padding: 100px 20px;
  color: rgb(17, 17, 17);
}

#about {
  padding: 50px;
  text-align: center;
}

.team-container {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.team-member {
  position: relative;
  width: 150px;
  height: 150px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.image-container {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  transition: border-radius 0.3s ease, transform 0.3s ease;
}

.team-member img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease, border-radius 0.3s ease;
}

.member-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: white;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.member-info h3,
.member-info p {
  display: none;
  margin: 0;
}

.team-member:hover .image-container {
  border-radius: 0;
}

.team-member:hover img {
  border-radius: 0;
  transform: scale(1);
}

.team-member:hover .member-info {
  width: 200px;
  height: 300px;
  border-radius: 20px;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 20px;
}

.team-member:hover .member-info h3,
.team-member:hover .member-info p {
  display: block;
}

#projects {
  padding: 50px;
  text-align: center;
}

#contactus {
  margin-top: 100px;
  padding: 50px;
  text-align: center;
  /* border-radius: 20px; */
}

/* Our Teams */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins' , sans-serif;
}
body{
  background: rgb(188, 159, 159);
}
.wrapper{
  margin-top: 40px;
  text-align: center;
}
.wrapper h1{
  font-family: sans-serif;
  font-size: 48px;
  color: wheat;
  margin-bottom: 25px;
}
.our-teams{
  width: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.our-teams .team-member{
  width: 250px;
  margin: 5px;
  color: white;
  padding: 20px;

}

.our-teams .team-member .member-img{
  background:white;
  max-width: 190px;
  width: 100%;
  height: 190px;
  margin: 0 auto;
  border-radius: 50%;
  padding: 5px;
  position: relative;
  cursor: pointer;
}

.our-teams .team-member .member-img img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.our-teams .team-member h3{
  text-transform: uppercase;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2px;
  margin: 15px 0 0px;
}

.our-teams .team-member span{
  font-size: 10px;
}

.our-teams .team-member p{
  margin-top: 20px;
  font-size: 14px;
  line-height: 20px;
}

.our-teams .team-member .member-img .social_media{
  position: absolute;
  top: 5px;
  left: 5px;
  background: rgba(0,0,0,0.64);
  justify-content: center;
  width: 95%;
  height: 95%;
  border-radius: 50%;
  align-items: center;
  display: flex;
  transform: scale(0);
  transition: all 0.5s ease;
}
.our-teams .team-member .member-img .social_media .item{
  margin: 0 10px;
}

.our-teams .team-member .member-img .social_media .fab{
  color: #8c7ae6;
  font-size: 20px;
}
.our-teams .team-member .member-img:hover .social_media{
  transform: scale(1);

}
